* {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

body {
  background: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img {
  border-radius: 15px;
  margin: 15px;
  width: 300px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

#card {
  display: flex;
  border-radius: 20px;
  background: hsl(0, 0%, 100%);
  flex-direction: column;
  text-align: center;
  font-family: "Outfit", sans-serif;
  width: min-content;
  height: min-content;
}

#card #p1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  margin: 15px 25px 10px 25px;
}

#card #p2 {
  font-size: 1rem;
  font-weight: 300;
  color: hsl(216, 15%, 48%);
  margin: 10px 25px 35px 25px;

}
